
#player {
    height: 300px;
    width: 530px;
}

#buttons {
    margin: 5px;
    padding: 20px;
    border: 1px solid;
}

#console {    
    margin: 5px;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    min-height: 200px;
    overflow: scroll;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
